name: Build ImGui.Net

on:
  workflow_dispatch:
    inputs:
      publish-enabled:
        description: "Publish to Nuget.org"
        type: boolean
        required: false
        default: false

env:
  nugetsPath: "nupkgs"

jobs:
  # --- Build Native Libraries ---
  build-native-libs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: x86_64
            target: linux-x64
          - os: ubuntu-latest
            arch: arm64
            target: linux-arm64
          - os: windows-latest
            arch: x86_64
            target: win-x64
          # - os: windows-latest
          #   arch: x86
          #   target: win-x86
          - os: windows-latest
            arch: arm64
            target: win-arm64
          - os: macos-latest
            arch: x86_64
            target: osx-x64
          - os: macos-latest
            arch: arm64
            target: osx-arm64
          - os: ubuntu-latest
            arch: wasm
            target: browser-wasm
    steps:
    - uses: actions/checkout@v5
      with:
        repository: ${{ github.repository }}
        submodules: recursive

    - name: Install dependencies on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake pkg-config zip

    - name: Setup Ninja
      if: matrix.os == 'ubuntu-latest'
      uses: ashutoshvarma/setup-ninja@v1.1
        
    - name: Install Cross-Compilation Tools for ARM64
      if: matrix.os == 'ubuntu-latest' && matrix.arch == 'arm64'
      run: |
        sudo apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

    - name: Install Emscripten
      if: matrix.arch == 'wasm'
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.34
        actions-cache-folder: 'emsdk-cache'

    - name: Build
      run: |
        cd NativeLibraries
        python3 build.py ${{matrix.target}}

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: cimgui-${{ matrix.target }}-artifacts 
        path: NativeLibraries/build/OUT/*
        if-no-files-found: warn # 'warn' or 'ignore' or 'error'


  # --- Generate Nugets ---
  generate-bindings:
    needs: build-native-libs
    runs-on: windows-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v5
      with:
        repository: ${{ github.repository }}
        submodules: recursive
    
    - name: Download all artifacts
      uses: actions/download-artifact@v5
      with:
        path: artifacts
          
    - name: Copy artifacts to respective directories
      run: |
        Copy-Item -Recurse -Force -Path artifacts/cimgui-browser-wasm-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-linux-arm64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-linux-x64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-osx-arm64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-osx-x64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-win-arm64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/
        Copy-Item -Recurse -Force -Path artifacts/cimgui-win-x64-artifacts/* -Destination Generator/Evergine.Bindings.Imgui/runtimes/

    - name: Remove artifacts directory
      run: Remove-Item -Recurse -Force artifacts

    - name: Generate Bindings
      shell: pwsh
      run: ./build/scripts/Generate-All-Bindings.ps1

    - name: Commit changes (if any)
      uses: EvergineTeam/evergine-standards/.github/actions/commit-and-push-or-pr-update@main
      with:
        commit_message: "Updating runtimes"
        mode: auto
        labels: update

    - name: Generate NuGets
      uses: EvergineTeam/evergine-standards/.github/actions/binding-generate-nugets-dotnet@main
      with:
        script-path: './build/scripts/Generate-NuGets-DotNet.ps1'
        helpers-path: './build/scripts/Helpers.ps1'
        projects: './Generator/Evergine.Bindings.Imgui/Evergine.Bindings.Imgui.csproj'
        output-folder: ${{ env.nugetsPath }}
        revision: ${{ github.run_number }}

    - name: List generated NuGets
      run: |
        ls ${{ env.nugetsPath }}/*.nupkg

    - name: Upload Nuget Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nugets
        path: ${{ env.nugetsPath }}
        if-no-files-found: warn # 'warn' or 'ignore' or 'error'

    - name: Publish NuGet
      if: ${{ success() && inputs.publish-enabled == true }}
      env:
        token: ${{ secrets.EVERGINE_NUGETORG_TOKEN }}
      run: |
        cd ${{ env.nugetsPath }}
        ls *.nupkg
        dotnet nuget push "**/*.nupkg" --skip-duplicate --no-symbols -k "$env:token" -s https://api.nuget.org/v3/index.json
